extends layout
include mixins/_nav

block content
    +nav()

    .outer-wrapper
        h1.home-text__title.home-text__title--left EVENTOS
        if events && events.length
            table.event-table.event-table--desktop
                thead
                    tr
                        th DESCRIPCIÓN
                        th FECHA
                        th EXPOSITOR
                tbody
                    each event, count in events
                        - const eventUri = encodeURI(event.name.toLowerCase());
                        - const eventDesc = event.description.length > 254 ? event.description.substring(0, 253).trim() + '...' : event.description;
                        - const eventDate = new Date(event.date);
                        - const dateString = `${String(eventDate.getDate()).padStart(2, '0')}/${String(eventDate.getMonth() + 1).padStart(2, '0')}/${eventDate.getFullYear()}`;

                        tr(class='event-table__clickable' data-href=`/eventos/${eventUri}`)
                            td
                                h3= event.name.toUpperCase()
                                p.event-table__description= eventDesc
                            td= dateString
                            td= event.exhibitor.toUpperCase()

                    //- tr(class='event-table__clickable' data-href='/eventos/elecciones-2021-mexico')
                    //-     td
                    //-         h3 ELECCIONES 2021 MEXICO
                    //-         p.event-table__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, cumque accusantium earum nihil autem quibusdam perspiciatis quae, porro ex aliquam accusamus dolorum labore itaque incidunt totam, possimus quod? Minus, iste.
                    //-     td 22/12/2020
                    //-     td LORENZO CORDOVA

            table.event-table.event-table--mobile
                tbody
                    each event, count in events
                        - const eventUri = encodeURI(event.name.toLowerCase());
                        - const eventDesc = event.description.length > 254 ? event.description.substring(0, 253).trim() + '...' : event.description;
                        - const eventDate = new Date(event.date);
                        - const dateString = `${String(eventDate.getDate()).padStart(2, '0')}/${String(eventDate.getMonth() + 1).padStart(2, '0')}/${eventDate.getFullYear()}`;

                        tr(class='event-table__clickable' data-href=`/eventos/${eventUri}`)
                            td
                                h3= event.name.toUpperCase()
                                p.event-table__description= eventDesc
                                p= dateString
                                p= event.exhibitor.toUpperCase()

                    //- tr(class='event-table__clickable' data-href='/eventos/elecciones-2021-mexico')
                    //-     td
                    //-         h3 ELECCIONES 2021 MEXICO
                    //-         p.event-table__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, cumque accusantium earum nihil autem quibusdam perspiciatis quae, porro ex aliquam accusamus dolorum labore itaque incidunt totam, possimus quod? Minus, iste.
                    //-         p 22/12/2020
                    //-         p LORENZO CORDOVA
                    
            .margin--3
            .button--aligncenter
                a.button(href='/inicio') REGRESAR
        else
            p.home-text__text(style='text-align: left;') Mantente enterado aquí de nuestros futuros eventos.

    script.
        document.addEventListener('DOMContentLoaded', () => {
            const events = document.querySelectorAll('.event-table__clickable');
            events.forEach(event => {
                event.addEventListener('click', () => {
                    const href = event.dataset.href;
                    if (href) {
                        window.location.assign(href);
                    }
                });
            });
        });